<ul>
  <a href="{{ route('CommentController.like', { id: comment.id }) }}">Like {{comment.likes}}</a>
  @if(auth.user.id == comment.user_id)
  <a href="{{ route('CommentController.delete',{ id: comment.id }) }}">Delete</a>
  <a href="{{ route('CommentController.edit',{ id: comment.id, video_id: video.id }) }}">Edit</a>
  @endif
</ul>