#parse('templates/header.vm')

<h3>Tracks</h3>

<table>
    <thead>
    <tr>
        <th>Track ID</th>
        <th>Name</th>
        <th>Milliseconds</th>
        <th>Bytes</th>
        <th>UnitPrice</th>
    </tr>
    </thead>
    <tbody>
        #foreach( $track in $tracks )
        <tr>
            <td><a href="/tracks/$track.TrackId">$track.TrackId</a></td>
            <td>$!track.Name</td>
            <td>$!track.Milliseconds</td>
            <td>$!track.Bytes</td>
            <td>$!track.UnitPrice</td>
        </tr>
        #end
    </tbody>
</table>

$web.pagingWidget($tracks)

<a href="/tracks/new">[Create New Track]</a>

#parse('templates/footer.vm')
