@layout('layouts.main')

@section('title')
SpecialProject.io Comment Api
@endsection

@section('content')
<h1>
    Display Comments
</h1>

@each(comment in comments)
<div class="job-container">
<div class="blank"></div>
    <div class="info">
      <a href="" title="user_id:{{comment.user_id}}">{{comment.username}}</a>
      <p>{{comment.text}}</p>
        <h6>About video {{comment.video_id}}</h6>
    </div>
</div>
@endeach

@endsection
