@layout('layouts.main')

@section('title')
SpecialProject.io Comment Api
@endsection

@section('content')
<h1>
    All the stuff
</h1>

<div class="blank"></div>
    <div class="info">
        <h3>Some Title</h3>
        <p>DESCRIPtION HERE</p>
    </div>
</div>

@endsection
