@layout('layouts.main')

@section('content')

<h1> ESOF 423: Group 6 </h1> 
<h2> Description </h2>
    <p> Objective: Build a comment API for  <a href="https://specialproject.io"> specialproject.io </a>- an online premium video sharing platform. \n </p>
    <p> Description: The comment API for specialproject.io will use  <a href='https://adonisjs.com/'> Adonis.js<a>. </p>
    <p> <a href="https://github.com/ryanhansen2222/esof423-s2021"> Github Repository </a> </p>


@endsection