@layout('layouts.main')

@section('title')
SpecialProject.io Comment Api
@endsection

@section('content')
<h1>
    All the stuff
</h1>

@each(comment in comments)
<div class="job-container">
<div class="blank"></div>
    <div class="info">
        <h3>{{comment.text}}</h3>
        <p>DESCRIPtION HERE</p>
    </div>
</div>
@endeach

@endsection
