<ul>
  <li><a href="{{ route('CommentController.like', { id: comment.id }) }}">Like {{comment.likes}}</a></li>
  @if(auth.user.id == comment.user_id)
  <li><a href="{{ route('CommentController.delete',{ id: comment.id }) }}">Delete</a></li>
  <li><a href="{{ route('CommentController.edit',{ id: comment.id, video_id: video.id }) }}">Edit</a></li>
  @endif
</ul>
