<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}

  @!section('extracss')

  <title>
    @!section('title')
  </title>
</head>
<body>
  <header>
    <a href="/" id="logo">LOGO</a>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        @loggedIn
        <li><a href="/comment">Comment</a></li>
        <li><a href="/logout">Logout</a></li>

        @else
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        @endloggedIn
      </ul>


    </nav>

  </header>

<div class="container">
  @!section('content')

</div>

</body>
</html>
