<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Group 6 - Comment API </title>
  <link rel="icon" href="pyramid.png">
  {{ style('style') }}

  @!section('extracss')

  <title>
    @!section('title')
  </title>
</head>
<body>
  <header>
    <a href="/home">
      <img src="pyramid.png" id="logo"> 
    </a>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/devdoc">Documentation</a></li>
        <li><a href="/comments">Comment API</a></li>
        @loggedIn
        <li><a href="/post-a-comment">My Comments</a></li>
        <li><a href="/post-a-video">My Videos</a></li>
        <li><a href="/logout">Logout</a></li>

        @else
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        @endloggedIn
      </ul>


    </nav>

  </header>

<div class="container">
  @!section('content')

</div>

</body>
</html>
