@layout('main')
@section('content')
<h1> Releases and Documentation </h1>
<h2> 1.0 Beta Release </h2>
<p> Updated March 7th, 2021: </p>
<li> Users can now input their username and comments in the Comments API page </li>
<li> Users can now submit their comments, along with their username to the potential database </li>
<li> Uploaded the design of the web application. </li>
@endsection