@layout('main')
@section('header')

@endsection

@section('content')

<div class='user-input'>
    <h1> Comments! </h1>
    <ul>
        <input type="text" placeholder="Name" required> 
    </ul>
    <ul>
        <textarea id="comment-box" name="comment-box" rows="4" cols="50" placeholder="Comment"></textarea>
    </ul>
    <ul>
        <button> Post </button>
    </ul>
</div>    

<div class='display-comments'>

<div>


@endsection