@layout('/main')

@section('content')
<h1> Comments Beta Release </h1>
<form>
  <label for="user">User:</label><br>
  <input type="text" id="user" name="user"><br>
  <label for="comment">Comment:</label><br>
  <input type="text" id="comment" name="comment">
</form>

<button> Submit </button>

@endsection