@layout('/main')
@section('header')
{{ style('login') }}
@endsection

@section('content')
<div class="wrap">
  <div class="avatar">
    <img src="pyramid.png">
  </div>
  <input type="text" placeholder="Username" required>
  <div class="bar">
    <i></i>
  </div>
  <input type="password" placeholder="Password" required>
  <button>Sign in</button>
  <button>Forgot</button>
</div>
@endsection